
$color1:#cc6633;
$colorTextNav: #c2dbcf;
$colorheader:linear-gradient(to bottom, #f3e7e7, #faedcd);
$colorfooter:linear-gradient(to top, #f3e7e7, #faedcd);
$margin:20px;
$border: 3px;
@mixin borde ($border){
    border: $colorTextNav solid $border;
}
@mixin sizes ($width, $height) {
    width: $width;
    height: $height;    
}


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans JP', sans-serif; 
    position: relative; 
    min-height: 100vh;
    >header{
        background-image:$colorheader;
        min-height: 10rem;
        width: auto;
        padding: 20px;
        margin-top: 0px;
        border-bottom: $colorTextNav solid $border;
        >nav>div>div{
            display: flex;
            justify-content: space-around;
            backface-visibility: hidden;
            >ul{
                display: flex;
                >li {
                    font-weight: bold;
                    font-style: italic;
                    font-size:small;
                    list-style-type:none;
                    margin: ($margin/2)-1;
                    border-radius: $border+2; 
                    >a{
                        color: $colorTextNav;
                        text-decoration: none;
                    }
                }
                >li:hover{
                    background-color: $colorTextNav;
                }
            }
        }
    }
}
#logoFinal{
    @include sizes(300px, 110px);
    float: left;
}
#logoFinal:hover{
    transform: translate(2px, 2px);
    transition: 2s;
}
.sectYAsid{
    display: flex;
    >#ind{
        margin-top: $margin;
        display: flex;
        align-items:center;
        flex-grow: 3;
    }
}

.apartadoInicio{
    margin: ($margin)+3;
    flex-basis: 300px;
    flex-grow: 1;
    height: auto;
    padding: 19px;
    background-color: #faedcd;
    @include borde ($border+1);
    border-radius: $border+2;  
    .apartadoInicio__parrafo--destacado {
        color: black;
        font: bold italic x-large serif;
        text-align: center;
        width:fit-content;
        padding: 25px;
    }
}
footer{
    background-image: $colorfooter;
    @include sizes(100%, 5rem);
    position:absolute;
    display: flex;
    justify-content: center;   
    border-top: $colorTextNav solid $border;
    >a{
        margin-top: ($margin/2)-1;
        padding-right: 9px;
    }
}

h3 {
    font-weight: bolder;
}
p {
    font-weight:normal;
    color: black;
}
h2 {
    padding: 2rem;;
    font-style: italic;
    color: $color1;
}
h5{
    color: $color1;
}
.productsPic{
    @include sizes(263px, 230px);
}
.sobreNosotros{
    display: grid;
    grid-template-areas:
    "sobreNosotros__descripcion sobreNosotros__descripcion sobreNosotros__descripcion"
    "sobreNosotros__ubicacion sobreNosotros__formulario sobreNosotros__formulario";
    grid-template-rows: 45% 45%;
    grid-template-columns: 2fr 2fr 1fr;
    .sobreNosotros__descripcion{
        grid-area: sobreNosotros__descripcion;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 40px 15px;
        padding: 25px;
        background-color: #faedcda9;
        @include borde($border);
        .sobreNosotros__descripción--destacado{
            color: black;
            font: bold italic x-large serif;
            text-align: left;
            width:fit-content;
            padding: 20px;
        }
    }
    .sobreNosotros__ubicacion{
        grid-area: sobreNosotros__ubicacion;    
        >.sobreNosotros__ubicacion--color{
            padding: 0 0 10px 25px;
            color: $colorTextNav;
        }
    }
    .sobreNosotros__ubicacion>div{
        @include sizes(300px, 200px);
        margin-left: ($margin/4)*11;
    }
    .sobreNosotros__formulario{
        grid-area: sobreNosotros__formulario;
        align-self: flex-start;
        font-size: small;        
        margin: $margin;
        .sobreNosotros__formulario--borde{
            padding: 5px;
            @include borde($border);
        }
        .sobreNosotros__formulario--bordeInterno{
            height: 20px;
            border-radius: $border+2;
        }
        fieldset {
            padding: 10px;
            border: none;
            >legend{
                font-size: medium;
                font-weight:500;
            }
        }
    }
}

    @media only screen and (max-width: 599px) {
        header{
            width:max-content;
            height: auto;
            display: flex;
            flex-direction: column;
        }
        footer{
            width: 100%;
            height: 7rem;
        }
        div.sectYAsid{
            display: flex;
            flex-direction: column;
        }
        #logoFinal{
            @include sizes(250px, 85px);
        }
        #ind{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .apartadoInicio{
            margin: $margin*2;
            overflow-y: scroll;
            font-size: smaller;
        }
        .sobreNosotros{
            display: flex;
            flex-direction: column;
            .sobreNosotros__descripcion{
                display: flex;
                flex-direction: column;
                overflow: hidden;
               /*  .sobreNosotros__descripcion--tamañoImagen{
                    width: 10rem;
                    height: 8rem;
                } */
            }
            .sobreNosotros__formulario{
                margin-left: 5px;    
                .sobreNosotros__formulario--bordeInterno{
                display: flex;
                flex-direction: column;
                }       
            }
            .sobreNosotros__ubicacion>div{
            @include sizes(270px, 200px);
            margin-left: $margin/4;
            }
        }
    }
    
    @media only screen and (min-width: 600px) and (max-width: 960px) {

        div.sectYAsid{
        display: flex;
        flex-direction: column;
        }
        #ind{
            height: fit-content;
        }
        .apartadoInicio{
            margin-top: $margin*2;
            overflow-y: scroll;
            font-size: smaller;
        }
        #logoFinal{
            @include sizes(250px, 85px);
        }
        .sobreNosotros{
            display: flex;
            flex-direction: column;
                .sobreNosotros__descripcion{
                display: flex;
                flex-direction: column;
                overflow: hidden;
                }
                .sobreNosotros__formulario--bordeInterno{
                    display: flex;
                    flex-direction: column;
                }
            }
    }

    