@charset "UTF-8";
h1 {
  margin: 0px;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  width: 100%;
}

.error__contenedor {
  text-align: center;
}

.error__contenedor h1 {
  font-size: 60px;
  color: #bb3e03;
}

.error__contenedor p {
  font-size: 18px;
  color: #bb3e03;
}

.error__contenedor--animacion {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

footer {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  min-height: 100vh;
}

body > header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3e7e7), to(#faedcd));
  background-image: linear-gradient(to bottom, #f3e7e7, #faedcd);
  min-height: 10rem;
  width: auto;
  padding: 20px;
  margin-top: 0px;
  border-bottom: #c2dbcf solid 3px;
}

body > header > nav > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

body > header > nav > div > div > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > header > nav > div > div > ul > li {
  font-weight: bold;
  font-style: italic;
  font-size: small;
  list-style-type: none;
  margin: 9px;
  border-radius: 5px;
}

body > header > nav > div > div > ul > li > a {
  color: #c2dbcf;
  text-decoration: none;
}

body > header > nav > div > div > ul > li:hover {
  background-color: #c2dbcf;
}

#logoFinal {
  width: 300px;
  height: 110px;
  float: left;
}

#logoFinal:hover {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-transition: 2s;
  transition: 2s;
}

.sectYAsid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectYAsid > #ind {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.apartadoInicio {
  margin: 23px;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
  padding: 19px;
  background-color: #faedcd;
  border: #c2dbcf solid 4px;
  border-radius: 5px;
}

.apartadoInicio .apartadoInicio__parrafo--destacado {
  color: black;
  font: bold italic x-large serif;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px;
}

footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f3e7e7), to(#faedcd));
  background-image: linear-gradient(to top, #f3e7e7, #faedcd);
  width: 100%;
  height: 5rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: #c2dbcf solid 3px;
}

footer > a {
  margin-top: 9px;
  padding-right: 9px;
}

h3 {
  font-weight: bolder;
}

p {
  font-weight: normal;
  color: black;
}

h2 {
  padding: 2rem;
  font-style: italic;
  color: #cc6633;
}

h5 {
  color: #cc6633;
}

.productsPic {
  width: 263px;
  height: 230px;
}

.sobreNosotros {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "sobreNosotros__descripcion sobreNosotros__descripcion sobreNosotros__descripcion" "sobreNosotros__ubicacion sobreNosotros__formulario sobreNosotros__formulario";
  -ms-grid-rows: 45% 45%;
      grid-template-rows: 45% 45%;
  -ms-grid-columns: 2fr 2fr 1fr;
      grid-template-columns: 2fr 2fr 1fr;
}

.sobreNosotros .sobreNosotros__descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: sobreNosotros__descripcion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 15px;
  padding: 25px;
  background-color: #faedcda9;
  border: #c2dbcf solid 3px;
}

.sobreNosotros .sobreNosotros__descripcion .sobreNosotros__descripción--destacado {
  color: black;
  font: bold italic x-large serif;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
}

.sobreNosotros .sobreNosotros__ubicacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sobreNosotros__ubicacion;
}

.sobreNosotros .sobreNosotros__ubicacion > .sobreNosotros__ubicacion--color {
  padding: 0 0 10px 25px;
  color: #c2dbcf;
}

.sobreNosotros .sobreNosotros__ubicacion > div {
  width: 300px;
  height: 200px;
  margin-left: 55px;
}

.sobreNosotros .sobreNosotros__formulario {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: sobreNosotros__formulario;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: small;
  margin: 20px;
}

.sobreNosotros .sobreNosotros__formulario .sobreNosotros__formulario--borde {
  padding: 5px;
  border: #c2dbcf solid 3px;
}

.sobreNosotros .sobreNosotros__formulario .sobreNosotros__formulario--bordeInterno {
  height: 20px;
  border-radius: 5px;
}

.sobreNosotros .sobreNosotros__formulario fieldset {
  padding: 10px;
  border: none;
}

.sobreNosotros .sobreNosotros__formulario fieldset > legend {
  font-size: medium;
  font-weight: 500;
}

@media only screen and (max-width: 599px) {
  header {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    width: 100%;
    height: 7rem;
  }
  div.sectYAsid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #logoFinal {
    width: 250px;
    height: 85px;
  }
  #ind {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .apartadoInicio {
    margin: 40px;
    overflow-y: scroll;
    font-size: smaller;
  }
  .sobreNosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sobreNosotros .sobreNosotros__descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .sobreNosotros .sobreNosotros__formulario {
    margin-left: 5px;
  }
  .sobreNosotros .sobreNosotros__formulario .sobreNosotros__formulario--bordeInterno {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sobreNosotros .sobreNosotros__ubicacion > div {
    width: 270px;
    height: 200px;
    margin-left: 6.66667px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  div.sectYAsid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #ind {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .apartadoInicio {
    margin-top: 40px;
    overflow-y: scroll;
    font-size: smaller;
  }
  #logoFinal {
    width: 250px;
    height: 85px;
  }
  .sobreNosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sobreNosotros .sobreNosotros__descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .sobreNosotros .sobreNosotros__formulario--bordeInterno {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */